/* apply to all items*/
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#logo { /*favicon*/
    width: 13%;
}

/*navigation bar*/
.navbar {
    background-color: #5c142c;
}
.navbar a:hover {  /*on mouse hover..*/
    text-decoration: none; /*do not underline link*/
}
.navbar li a, span { /*link styling*/
    color: #e2d6da;
    font-size: 15px;
}
.navbar li {
    width: 17%;
    text-align: center;
}
.navbar li a:hover {
    color: #5c142c;
}
/*header, logo + caption*/
.navbar-header {
    width: 100%;
    text-align: center; /*centralize items*/
}
/*navigation bar links*/
.nav {
    margin-top: 0.5%;
    width: 100%;  /*bar apply to full width*/
}
.nav ul li a:hover {
    background-color: #5c142c;
    color: #e2d6da;
}
.nav ul li a:focus {
    background-color: #e2d6da !important; /*on link selected*/
    color: #5c142c !important;
}
/*dropdown menu with categories, nav>link shop*/
.nav .dropdown-item {
    color: #5c142c !important;  /*overwrite color of link*/
    font-size: 150% !important;
}
.nav .dropdown-header {
    font-weight: bold;
    color: #5c142c !important;
    font-size: 150% !important;
}
.nav .dropdown-item:hover{
    background-color: inherit !important; /*overwrite background color on links*/
    text-decoration: underline !important;
}
.nav .dropdown-header:hover {
    background-color: inherit !important; /*overwrite background color on links*/
}
/*search field*/
.form-inline .btn {
    font-size: 15px; /*search button*/
    color: #e2d6da;
}
.form-inline input {
    font-size: 15px;
}
/*footer*/
footer {
    background-color: #e9c1e2;
    padding-bottom: 20px;
    padding-right: 10px;
}
footer span {  /*style text*/
    font-size: 20px;
    color: #5c142c;
    padding-right: 7px;
}
footer .btn {
    font-size: 17px;
    background-color: #5c142c;
    color: #e2d6da;
    margin-bottom: 6px;
}
/*pagination*/
.pagination {
    font-size: 17px;
}
.pagination li a {
    background-color: #5c142c !important;
    color: #e2d6da !important;
}
.pagination li a:focus { /*on click do not show outline and borders*/
    outline: none !important;
    box-shadow: none !important;
}
.pagination > .active > a { /*change active page border and color*/
    background-color: #e9c1e2 !important;
    border: none;
    color: #5c142c !important;
}
#presection p {  /*recommended for you*/
    color:#5c142c;
    font-weight: bold;
    font-size: 25px;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
    float: left;
    width: 40%;
}
#presection .dropdown { /*buttons + sort by*/
    width: 20%;
    float: right;
}
#presection .btn { /*login/cart buttons*/
    text-align: right;
    font-size: 17px !important;
    background-color: #e9c1e2 !important;
    color: #5c142c;
    outline: none;
    font-weight: bold;
    margin-right: 25px; /*distance between buttons*/
}
#presection button > a {
    color: #5c142c;
}
#presection button > a:hover{
    text-decoration: none;
}
#presection .dropdown-item { /*sort-by list*/
    color: #5c142c !important;  /*overwrite color of link*/
    font-size: 150% !important;
}
#presection .dropdown-toggle {
    background-color: white !important;
    font-size: 15px !important;
}
/* promo button "sell a product"*/
#promo a {
    position: fixed;  /*do not move when on scroll*/
    bottom: 8%;  /*fix absolute positioning*/
    right: 3%;
    background-color: #5c142c;
    color: #e2d6da;
    font-size: 20px;
    width: 180px;
    padding: 0.5% 10px;
    border-color: white;
}
#promo a:hover {
    font-weight: bold;
    text-decoration: none;
}
/*products catalog*/
.bg-1 .row:first-child { /*apply only to 4 first products - first row*/
    margin-top: 100px;
}
.bg-1 .row {  /*define in each row*/
    margin-top: 50px;
    margin-bottom: 20px;
}
.bg-1 img { /*product images*/
    width: 100%;
    height: 201px;
}
.col-sm-3 .card .btn { /*cards*/
    width: 100%;
    height: 310px;
    /*border-color: #5c142c;*/
    padding: 0; /*images should it perfectly*/
}
button:hover, button:focus {
    outline: none !important; /*do not show borders on click*/
    box-shadow: none !important;
}
.card .btn:hover {
    box-shadow: 2px 2px 4px #5c142c !important;
}
.card-text { /*short product description*/
    color: black;
    font-size: 170%;
    text-align: left;
    overflow: hidden !important;   /* boundaries of card should get title end in ...*/
    text-overflow: ellipsis;
}
.card-body .text-right { /*product price on card*/
    color: black;
    font-weight: bold;
    font-size: 17px;
}
/*basic modal styling*/
.modal .close { /*modal close buttons*/
    font-size: 20px;
    color: black;
    font-family: arial,sans-serif;
}
.modal .btn {  /*button*/
    background-color: #5c142c;
    color: #e2d6da;
    float: right;
    margin: 20px;
    font-size: 18px;
}
.modal .btn:hover {
    color: #e9c1e2;
}
.modal-header h2 {
    font-weight: bold;
    color: #5c142c;
}
.modal-body img {
    width: 400px;
    height: 350px !important;
}
.carousel-inner, .slide { /*carousel width*/
    width: 400px !important;
    float: left;
}
.modal-body #info {
    width: 45%;
    margin: 0px !important;
    float: right !important; /*align next to slides*/
}
.modal-body #info h3 {
    color: #5c142c;
    margin-top: 10px;
}
.modal-body .badge { /*badges*/
    background-color:#e9c1e2;
}
.modal-body #seller_info h2 {
    margin-top: 400px;
    color: #5c142c;
    font-weight: bold;
}
.modal-body span{
    color: black;
    font-size: 15px;
}
.modal-body .checked { /*seller rating*/
    color: #5c142c;
}
.modal-body #seller_info{
    width: 80%;
    margin-left: 30px;
}
.modal .modal-body .fa-heart { /*add to favorites icon*/
    position: absolute !important;
    top: 5;
    font-size: 25px;
    color: #5c142c;
    z-index: 10;
    padding: 5px;
}
.modal .modal-body .fa-heart:hover {
    background-color: #e9c1e2;
}
.modal button {
    background: transparent; /*make button transparent*/
    border: none !important;
}
/*about us page*/
#about {
    float: left;
	width: 89%;
	margin: 0 0 50px 10%;
}
#about h1 {
	color:#5c142c;
    font-weight: bold;
    font-size: 25px;
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 20px;
    float: left;
    width: 70%;
}
#about .col {
    width: 31%;
    float: left;
}
#about .col h4 {
    font-weight: bold;
    width: 230px;
    border-bottom: solid; /*underline*/
    color: #5c142c;
    font-size: 20px;
}
#about .col p {
    padding: 20px;
    margin-right: 10%;
    margin-top: -6px;
    box-shadow: 1px 1px 3px black;
    font-size: 15px;
    background-color: #e2d6da;
}
#newsletter {
    width: 89%;
    padding-bottom: 40px;
    padding-top: 30px;
    margin: 0 0 50px 10%;
}
#newsletter h1 {
    color:#5c142c;
    font-weight: bold;
    font-size: 25px;
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 20px;
    float: left;
    width: 70%;
}
#newsletter .btn {
    outline: none;
	width: 10%;
	padding: 10px;
	background-color: #5c142c;
	border: none;
    font-size: 15px;
}
#newsletter p {
    width: 82%;
    font-size: 17px;
    padding: 30px;
    font-weight: bold;
}
#newsletter input {
    width: 20%;
    padding: 21px;
    font-size: 15px;
}
/*Help center*/
#contact h1 {
    color:#5c142c;
    font-weight: bold;
    font-size: 25px;
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 20px;
    width: 70%;
    float: left;
}
#contact {
    width: 89%;
    margin: 0 0 50px 10%;
}
#contact form {
    width: 300px;
    margin-left: 33%;
    margin-right: auto;
}
#contact .form-label {
    font-size: 14px;
}
#contact .form-control {
    font-size: 15px !important;
    padding: 15px !important;
    margin-bottom: 15px !important;
    border: none !important;
    border-bottom: 2px solid !important;
    outline: none !important;
    box-shadow: none !important;
}
#contact .btn {
    margin: 10px 0px !important;
    background-color: #5c142c;
    color: #e2d6da;
    float: right;
    margin: 20px;
    font-size: 18px;
}
#information {
	width: 89%;
	margin: 0 0 50px 10%;
}
#information h1 {
    color:#5c142c;
    font-weight: bold;
    font-size: 25px;
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 20px;
    float: left;
    width: 70%;
}
#information .col {
    width: 97%;
}
#information .col h4 {
    font-weight: bold;
    width: 500px;
    border-bottom: solid; /*underline*/
    color: #5c142c;
    font-size: 20px;
}
#information .col p {
    padding: 20px;
    margin-right: 10%;
    margin-top: -6px;
    box-shadow: 1px 1px 3px black;
    font-size: 15px;
    background-color: #e2d6da;
}
/*sign up modal*/
#signup_modal .modal-content{
    width: 100%;
}
#signup_modal .modal-header {
    border-bottom: 0 none; /*remove bottom line*/
}
#signup_modal .modal-body h3 {
    font-weight: bold;
    padding: 0px 0 20px 0;
    font-size: 25px;
    color: #5c142c;
}
#signup_modal .modal-body .form-label {
    font-size: 14px;
}
#signup_modal .modal-body .form-control {
    font-size: 15px !important;
    padding: 15px !important;
    margin-bottom: 15px !important;
    border: none !important;
    border-bottom: 2px solid !important;
    outline: none !important;
    box-shadow: none !important;
}
#signup_modal .modal-body .form-check {
    font-size: 14px !important;
    text-align: left;
}
#signup_modal .modal-body .form-check .form-check-label{
    margin-right: 40% !important;
    margin-bottom: 10px;
    width: 100%;
}
#signup_modal .modal-body .form-check .form-check-input{
    margin-left: -5% !important;
    margin-top: 6px !important;
}
#signup_modal .btn {
    margin: 10px 0px !important;
}
#signup_modal .btn a { /*signup with google,facebook buttons*/
    color: #e2d6da;
    font-size: 18px;
}
#signup_modal .btn a:hover { /*signup with google,facebook buttons*/
    text-decoration: none;
    color: #e9c1e2;
}
#signup_modal a {
    font-size: 14px;
    color: #5c142c;
}
/*sign in modal*/
#login_modal .modal-content{
    width: 100%;
}
#login_modal .modal-header {
    border-bottom: 0 none; /*remove bottom line*/
}
#login_modal .modal-body h3 {
    font-weight: bold;
    padding: 0px 0 20px 0;
    font-size: 25px;
    color: #5c142c;
}
#login_modal .modal-body .form-label {
    font-size: 14px;
}
#login_modal .modal-body .form-control {
    font-size: 15px !important;
    padding: 15px !important;
    margin-bottom: 15px !important;
    border: none !important;
    border-bottom: 2px solid !important;
    outline: none !important;
    box-shadow: none !important;
}
#login_modal .modal-body .form-check {
    font-size: 15px !important;
    text-align: left;
}
#login_modal .modal-body .form-check .form-check-label{
    margin-right: 40% !important;
}
#login_modal .modal-body .form-check .form-check-input{
    margin-left: -5% !important;
    margin-top: 6px !important;
}
#login_modal .btn {
    margin: 10px 0px !important;
}
#login_modal .btn a { /*login with google,facebook buttons*/
    color: #e2d6da;
    font-size: 18px;
}
#login_modal .btn a:hover { /*login with google,facebook buttons*/
    text-decoration: none;
    color: #e9c1e2;
}
#login_modal span, a {
    font-size: 16px;
}
#login_modal a {
    color: #5c142c;
}
/*cart modal*/
#cart_modal .modal-dialog{
    display: table; /* This is important */
    min-width: 40%;
}
#cart_modal .modal-header {
    border-bottom: 0 none; /*remove bottom line*/
}
#cart_modal .modal-body h3 {
    padding: 0px 0 20px 0;
    font-weight: bold;
    font-size: 25px;
    color: #5c142c;
}
#cart_modal img {
    width: 100px;
    height: 100px !important;
}
#cart_modal .btn {
    margin: 10px 0px !important;
}
#cart_modal a {
    color: white;
    font-size: 16px;
}
#cart_modal a:hover {
    text-decoration: none;
}
#cart_modal td button {
    background: transparent; /*make button transparent*/
    border: none !important;
}
#cart_modal p, #cart_modal span{
    font-weight: bold;
    font-size: 18px;
    color: #5c142c;
}
/*checkout form modal*/
#checkout_modal .modal-body h3 {
    padding: 0px 0 20px 0;
    font-weight: bold;
    font-size: 25px;
    color: #5c142c;
}
#checkout_modal .modal-header {
    border-bottom: 0 none; /*remove bottom line*/
}
#checkout_modal .modal-body .form-label {
    font-size: 14px;
}
#checkout_modal .modal-body .form-control {
    font-size: 15px !important;
    padding: 15px !important;
    margin-bottom: 15px !important;
    border: none !important;
    border-bottom: 2px solid !important;
    outline: none !important;
    box-shadow: none !important;
}
#checkout_modal .modal-body .form-select {
    font-size: 15px !important;
    padding: 15px !important;
    margin-bottom: 15px !important;
    border: none !important;
    border-bottom: 2px solid !important;
    outline: none !important;
    box-shadow: none !important;
    width: 100%;
}
#checkout_modal .btn {
    margin: 10px 0px !important;
    font-size: 16px;
}
#checkout_modal span {
    color: white;
    font-size: 16px;
}
#checkout_modal .btn:hover {
    color: white;
}
#checkout_modal input:checked + .btn-secondary{ /*on select toggle radio light button*/
    background-color: #5c142c;
    color: white
}
#checkout_modal input[type="radio"] { /*do not show radio toggle buttons*/
    position: fixed;
    opacity: 0;
}
#checkout_modal .btn-secondary { /*alternative payment ways*/
    background-color: grey;
    border: none;
    color: white;
    width: 110px;
}
#checkout_modal {
    margin-left: 10px;
}
#sell {
    width: 89%;
    margin: 0 0 50px 10%;
    font-size: 15px;
}
#sell h1 {
    color:#5c142c;
    font-weight: bold;
    font-size: 25px;
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 20px;
    width: 90%;
    float: left;
}
#sell p, #sell a{
    font-size: 15px;
    color: #5c142c;
}
#sell input[type="radio"], #sell input[type="checkbox"] { /*do not show checkboxes in toggle checkbox buttons size/fit/material*/
    position: fixed;
    opacity: 0;
}
#sell input[type="file"] { /*make image input field invisible*/
    opacity: 1;
    width: 90%;
    height: 300px;
    background-image: url("image_upload.png");
    background-position: center;
}
#sell input:checked + label { /*on select toggle checkbox light button*/
    background-color: #e9c1e2;
    color: black;
    border: none;
}
#sell .form-label {
    padding: 15px 0 0 0;
    font-weight: 100;
}
#sell .form-control {
    font-size: 15px;
    width: 70%
}
#sell .form-control:focus {
    box-shadow: none;
    border-color: #e9c1e2;
}
#sell .btn {
    font-size: 15px;
    margin-bottom: 5px;
}
#sell .btn-block { /*sell product button*/
    background-color: #5c142c !important;
    color: white;
    width: 20%;
    margin-top: 630px;
    margin-left: 30%;
    font-size: 17px !important;
}
#sell .btn-block:hover { 
    color: #e9c1e2;
}
/*user profile page*/
#user {
    width: 60%;
    margin: 0 0 50px 10%;
    font-size: 15px;
}
#user .row {
    margin-left: 300px;;
}
#user h1 {
    color:#5c142c;
    font-weight: bold;
    font-size: 25px;
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 90%;
}
#user img {
    width: 200px;
}
#user .card-title {
    color: #5c142c;
    font-weight: bold;
}
#user .card-body {
    margin-left: 130px;
}
#user .card-text {
    font-size: 17px;
    color:#5c142c;
}
#user .card-text span {
    font-size: 17px;
    color:black;
}
#user .card-text a {
    margin-left: 10px;
    font-size: 17px;
    color:#5c142c;
}
#user a, p > a{
    color:#5c142c;
    font-size: 17px;
}
/*update email modal*/
#email_update .modal-header {
    border-bottom: 0 none; /*remove bottom line*/
}
#email_update .modal-body h3 {
    font-weight: bold;
    padding: 0px 0 20px 0;
    font-size: 25px;
    color: #5c142c;
}
#email_update .modal-body .form-label {
    font-size: 14px;
}
#email_update .modal-body .form-control {
    font-size: 15px !important;
    padding: 15px !important;
    margin-bottom: 15px !important;
    border: none !important;
    border-bottom: 2px solid !important;
    outline: none !important;
    box-shadow: none !important;
}
#email_update .btn {
    margin: 10px 0px !important;
}
/*update password modal*/
#pass_update .modal-header {
    border-bottom: 0 none; /*remove bottom line*/
}
#pass_update .modal-body h3 {
    font-weight: bold;
    padding: 0px 0 20px 0;
    font-size: 25px;
    color: #5c142c;
}
#pass_update .modal-body .form-label {
    font-size: 14px;
}
#pass_update .modal-body .form-control {
    font-size: 15px !important;
    padding: 15px !important;
    margin-bottom: 15px !important;
    border: none !important;
    border-bottom: 2px solid !important;
    outline: none !important;
    box-shadow: none !important;
}
#pass_update .btn {
    margin: 10px 0px !important;
}
#user > p { /*link for contact form*/
    margin-top: 50px;
    margin-left: 250px;;
    font-size: 17px;
}
/*user profile favorite product section*/
#favorites {
    width: 60%;
    margin: 0 0 50px 10%;
    font-size: 15px;
}
#favorites table {
    margin-left: 160px;
}
#favorites h1 {
    color:#5c142c;
    font-weight: bold;
    font-size: 25px;
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 90%;
}
#favorites img {
    width: 100px;
}
#favorites a,td {
    color: #5c142c;
    font-size: 16px;
}
#favorites a:hover {
    text-decoration: none;
}
#favorites td button {
    background: transparent; /*make button transparent*/
    border: none !important;
    color: #5c142c;
}
#favorites td button:hover {
    color: #e9c1e2;
}
/*order and selling history*/
#history {
    width: 60%;
    margin: 0 0 50px 10%;
    font-size: 15px;
}
#history h1 {
    color:#5c142c;
    font-weight: bold;
    font-size: 25px;
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 90%;
}
#history h2 {
    color:#5c142c;
    font-weight: bold;
    font-size: 20px;
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 90%;
}
#history img {
    width: 100px;
}
#history table {
    margin-left: 100px;
}
#history a,td,span {
    color: #5c142c;
    font-size: 16px;
}
#history a:hover {
    text-decoration: none;
}
/*view order modal*/
#order_modal .modal-header {
    border-bottom: 0 none; /*remove bottom line*/
}
#order_modal .modal-body h3 {
    padding: 0px 0 20px 0;
    font-weight: bold;
    font-size: 25px;
    color: #5c142c;
}
#order_modal img {
    width: 100px;
    height: 90px !important;
}
#order_modal p, #order_modal span{
    font-weight: bold;
    font-size: 18px;
    color: #5c142c;
}
/*RESPONSIVE*/
/*tablet view*/
@media (max-width: 1023px) and (min-width: 767px) {
    #presection .dropdown { /*buttons + sort by*/
        width: 30%;
    }
    .col-sm-3 {
        max-width: 25% !important;
        min-width: 25% !important;
        margin: 0 !important;
        padding: 5px !important;
    }
    .row {
       margin: 0px;
    }
    .bg-1 img { /*product images*/
        height: 150px;
    }
    .card-body {
        height: 107px;
    }
    .col-sm-3 .card .btn {
        height: 260px;
    }
    .row {
        margin-top: 60px;
    }
    .modal-dialog {  /*resize modal*/
        max-width: 80% !important;
    }
    .carousel-inner, .slide { /*carousel width*/
        width: 340px !important;
        height: 300px !important;
    }
    .modal-body #info {
        width: 40%;
    }
    #about .col {
        width: 95%;
        margin-top: 10px;
    }
    #newsletter .btn {
       width: 100px;
    }
    #newsletter .form-control {
        width: 200px;
    }
    #login_modal .modal-content{
        height: 70%;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    #login_modal .modal-body {
        margin: -70px 0 20px 0;
    }
    #signup_modal .modal-body {
        margin: -70px 0 20px 0;
    }
    #signup_modal .modal-content {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    #contact form {
        margin-left: auto;
    }
    #sell h1 {
        width: 84%;
    }
    #sell .col-md-12 {
        max-width: 100%;
    }
    #sell .btn-block { /*sell product button*/
        width: 20%;
        margin-left: 200px;
        margin-top: 50px;
    }
    #sell .form-control {
        width: 500px;
    }
    #sell input[type="file"] { /*make image input field invisible*/
        width: 420px;
    }
    #checkout_modal .modal-dialog {
        width: 500px;
    }
    #checkout_modal .row {
        margin: 0;
    }
}
/*mobile view*/
@media (max-width: 766px) {
    .navbar li {
        width: 25%;
    }
    .navbar li a {
        padding: 0 !important;
    }
    .form-inline input {
        width: 85%;
    }
    #presection .dropdown { /*buttons + sort by*/
        width: 42%;
    }
    #presection .dropdown .btn {
        font-size: 15px !important;
    }
    #presection p {  /*recommended for you*/
        margin-left: 10px;
        font-size: 17px;
        margin-top: 10px;
        width: 45%;
    }
    .col-sm-3 {
        max-width: 47% !important;
        min-width: 40% !important;
        margin: 5px !important;
        padding: 5px !important;
    }
    .bg-1 img { /*product images*/
        height: 150px;
    }
    .card-body {
        height: 107px;
    }
    .card-text { /*short product description*/
        font-size: 150%;
    }
    .col-sm-3 .card .btn {
        height: 260px;
    }
    footer span {  /*style text*/
        font-size: 12px;
    }
    #about .col {
        width: 95%;
        margin-top: 10px;
    }
    #newsletter .btn {
        width: 100px;
    }
    #newsletter .form-control {
        width: 200px;
    }
    #information .col h4 {
        width: 300px;
    }
    #contact form {
        margin-left: auto;
    }
    #login_modal .modal-content{
        height: 75%;
    }
    #sell h1 {
        width: 79%;
    }
    #sell .form-control {
        width: 420px;
    }
    #sell .btn { /*on select toggle checkbox light button*/
        margin-bottom: 5px;
    }
    #sell {
        width: 100%;
        margin: 0 0 50px 0%;
    }
    #sell input[type="file"] { /*make image input field invisible*/
        width: 420px;
    }
    #sell .btn-block { /*sell product button*/
        margin-top: 40px;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }
    #checkout_modal .col-md-4 {
        width: 130px;
    }
}